In [ ]:
import pandas as pd
data = pd.read_csv('loansTrain.csv')
print(data.shape)
data.head(10)

(1000000, 59)

   loan_amnt        term  ... total_il_high_credit_limit loan_status
0      30800   60 months  ...                    57234.0           0
1      15000   60 months  ...                        NaN           0
2       3200   36 months  ...                     5500.0           1
3      10000   36 months  ...                    55217.0           1
4      34275   60 months  ...                    20000.0           1
5       3000   36 months  ...                   104067.0           1
6       3400   36 months  ...                    22229.0           1
7       5000   36 months  ...                     7800.0           1
8       5000   60 months  ...                        NaN           1
9      15925   36 months  ...                    77439.0           1

[10 rows x 59 columns]

#Split into 2 parts numeric,categoric.

##Dimention reduce in categorical feature values, drop irrelevant features, dicretization

In [ ]:
import pandas as pd
import numpy as np
#data = pd.read_csv('loansTrain.csv')
data=data.drop(['addr_state', 'emp_title'], axis=1)
conversion_table = {}
conversion_table["home_ownership"] ={"NONE":"MORTGAGE","ANY":"MORTGAGE","OTHER":"MORTGAGE"}
conversion_table["emp_length"] ={"< 1 year":"3>=Year","1 year":"3>=Year","2 years":"3>=Year","3 years":"3>=Year",\
                                 "4 years":"3<=6Year","5 years":"3<=6Year","6 years":"3<=6Year",\
                                 "7 years":">=7Year","8 years":">=7Year","9 years":">=7Year","10+ years":">=7Year"}
total_count = data["purpose"].count()
percent = (data['purpose'].value_counts()/total_count * 100)
purpose_unique = data['purpose'].unique()
purpose_dict = {}
for key,value in percent.items():
  if value <= 2:
    #print(key)
    #data.at[(data["purpose"] == key) , 'purpose'] = "other"
    purpose_dict[key] ="other"
conversion_table["purpose"]= purpose_dict
for category_name,cat_table in conversion_table.items():
  for key,value in cat_table.items():
    data.at[data[category_name] == key, category_name] = value

data["earliest_cr_line"]=pd.to_datetime(data["earliest_cr_line"])
x=data["earliest_cr_line"]
intervals,bins= pd.qcut(x,5,labels=["A","B","C","D","E"],retbins =True)
data["earliest_cr_line"] = intervals
data["earliest_cr_line"]=data["earliest_cr_line"]

def func(s):
  temp = s[0]
  if(temp != "n"):
   return s[0]
  else:
    return "9"
x = data["zip_code"].astype("str")
data["zip_code"]  = x.apply(func,0)

data.at[data["emp_length"].isna(),"emp_length"]= "3<=6Year"

##Handle Test

##Missing value handle

Deleting rows with have too many missing values

In [ ]:
#for i in range(58):
#  print(i,"----",len(data[data.isnull().sum(axis=1) >= i]))
indexes=data[data.isnull().sum(axis=1) >= 10].index
print(indexes)
data=data.drop(indexes,axis=0)
data
data.isnull().sum()

Int64Index([     1,      8,     97,    123,    142,    182,    201,    223,
               230,    232,
            ...
            999835, 999841, 999854, 999864, 999865, 999871, 999875, 999924,
            999935, 999946],
           dtype='int64', length=51675)

loan_amnt                         0
term                              0
grade                             0
emp_length                        0
home_ownership                    0
annual_inc                        0
verification_status               0
purpose                           0
zip_code                          0
dti                             234
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    1
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                      572
collections_12_mths_ex_med        0
application_type                  0
acc_now_delinq                    0
tot_coll_amt                      0
tot_cur_bal                       0
total_rev_hi_lim                  0
acc_open_past_24mths              0
avg_cur_bal                      18
bc_open_to_buy                10052
bc_util                       10608
chargeoff_within_12_mths          0
delinq_amnt                       0
mo_sin_old_rev_tl_op              1
mo_sin_rcnt_rev_tl_op             1
mo_sin_rcnt_tl                    0
mort_acc                          0
mths_since_recent_bc           9369
mths_since_recent_inq         91620
num_accts_ever_120_pd             0
num_actv_bc_tl                    0
num_actv_rev_tl                   0
num_bc_sats                       0
num_bc_tl                         0
num_il_tl                         0
num_op_rev_tl                     0
num_rev_accts                     0
num_rev_tl_bal_gt_0               0
num_sats                          0
num_tl_120dpd_2m              36880
num_tl_30dpd                      0
num_tl_90g_dpd_24m                0
num_tl_op_past_12m                0
pct_tl_nvr_dlq                  114
percent_bc_gt_75              10352
pub_rec_bankruptcies              0
tax_liens                         0
tot_hi_cred_lim                   0
total_bal_ex_mort                 0
total_il_high_credit_limit        0
loan_status                       0
dtype: int64

filling rest of the nan values

In [ ]:
from sklearn.preprocessing import Imputer
numeric_df = data.select_dtypes(include=np.number)
categoric_df=data.select_dtypes(include='object')

In [ ]:
numeric_df

        loan_amnt  annual_inc  ...  total_il_high_credit_limit  loan_status
0           30800     70000.0  ...                     57234.0            0
2            3200     30000.0  ...                      5500.0            1
3           10000    160000.0  ...                     55217.0            1
4           34275    110000.0  ...                     20000.0            1
5            3000     94199.0  ...                    104067.0            1
...           ...         ...  ...                         ...          ...
999995      30000    145000.0  ...                     46235.0            0
999996       6000     80000.0  ...                     32749.0            1
999997       5700     22044.0  ...                      1045.0            1
999998      15000    105000.0  ...                     18000.0            1
999999      10000     53000.0  ...                         0.0            1

[948325 rows x 48 columns]

In [ ]:
categoric_df

              term grade  ... zip_code application_type
0        60 months     E  ...        6       Individual
2        36 months     B  ...        1       Individual
3        36 months     A  ...        6       Individual
4        60 months     F  ...        1       Individual
5        36 months     C  ...        0       Individual
...            ...   ...  ...      ...              ...
999995   36 months     D  ...        7       Individual
999996   36 months     C  ...        9       Individual
999997   36 months     B  ...        4       Individual
999998   36 months     A  ...        2       Individual
999999   36 months     B  ...        6       Individual

[948325 rows x 8 columns]

In [ ]:
categorical_column_fill=dict()
for i in categoric_df:
  categorical_column_fill[i]=categoric_df[i].value_counts().argmax()
print(categorical_column_fill)

for i in categoric_df:
   categoric_df.at[categoric_df[i].isna(),i] = categorical_column_fill[i]
categoric_df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  This is separate from the ipykernel package so we can avoid doing imports until

{'term': ' 36 months', 'grade': 'B', 'emp_length': '>=7Year', 'home_ownership': 'MORTGAGE', 'verification_status': 'Source Verified', 'purpose': 'debt_consolidation', 'zip_code': '9', 'application_type': 'Individual'}

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2909: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc[index, col] = value

              term grade  ... zip_code application_type
0        60 months     E  ...        6       Individual
2        36 months     B  ...        1       Individual
3        36 months     A  ...        6       Individual
4        60 months     F  ...        1       Individual
5        36 months     C  ...        0       Individual
...            ...   ...  ...      ...              ...
999995   36 months     D  ...        7       Individual
999996   36 months     C  ...        9       Individual
999997   36 months     B  ...        4       Individual
999998   36 months     A  ...        2       Individual
999999   36 months     B  ...        6       Individual

[948325 rows x 8 columns]

In [ ]:
missing_imp_numeric = Imputer(strategy='median')
columnstofit = numeric_df[numeric_df.columns[:-1]]
missing_imp_numeric.fit(columnstofit)
numeric_df[columnstofit.columns] = missing_imp_numeric.transform(columnstofit)
numeric_df

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

        loan_amnt  annual_inc  ...  total_il_high_credit_limit  loan_status
0         30800.0     70000.0  ...                     57234.0            0
2          3200.0     30000.0  ...                      5500.0            1
3         10000.0    160000.0  ...                     55217.0            1
4         34275.0    110000.0  ...                     20000.0            1
5          3000.0     94199.0  ...                    104067.0            1
...           ...         ...  ...                         ...          ...
999995    30000.0    145000.0  ...                     46235.0            0
999996     6000.0     80000.0  ...                     32749.0            1
999997     5700.0     22044.0  ...                      1045.0            1
999998    15000.0    105000.0  ...                     18000.0            1
999999    10000.0     53000.0  ...                         0.0            1

[948325 rows x 48 columns]

In [ ]:
numeric_df.isna().sum()

loan_amnt                     0
annual_inc                    0
dti                           0
delinq_2yrs                   0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                    0
collections_12_mths_ex_med    0
acc_now_delinq                0
tot_coll_amt                  0
tot_cur_bal                   0
total_rev_hi_lim              0
acc_open_past_24mths          0
avg_cur_bal                   0
bc_open_to_buy                0
bc_util                       0
chargeoff_within_12_mths      0
delinq_amnt                   0
mo_sin_old_rev_tl_op          0
mo_sin_rcnt_rev_tl_op         0
mo_sin_rcnt_tl                0
mort_acc                      0
mths_since_recent_bc          0
mths_since_recent_inq         0
num_accts_ever_120_pd         0
num_actv_bc_tl                0
num_actv_rev_tl               0
num_bc_sats                   0
num_bc_tl                     0
num_il_tl                     0
num_op_rev_tl                 0
num_rev_accts                 0
num_rev_tl_bal_gt_0           0
num_sats                      0
num_tl_120dpd_2m              0
num_tl_30dpd                  0
num_tl_90g_dpd_24m            0
num_tl_op_past_12m            0
pct_tl_nvr_dlq                0
percent_bc_gt_75              0
pub_rec_bankruptcies          0
tax_liens                     0
tot_hi_cred_lim               0
total_bal_ex_mort             0
total_il_high_credit_limit    0
loan_status                   0
dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
columnstofit = numeric_df[numeric_df.columns[:-1]]

sc.fit(columnstofit)
numeric_df[columnstofit.columns]= sc.transform(columnstofit)
numeric_df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

        loan_amnt  annual_inc  ...  total_il_high_credit_limit  loan_status
0        1.862541   -0.094617  ...                    0.351703            0
2       -1.298810   -0.674253  ...                   -0.848930            1
3       -0.519927    1.209564  ...                    0.304893            1
4        2.260573    0.485019  ...                   -0.512417            1
5       -1.321719    0.256048  ...                    1.438595            1
...           ...         ...  ...                         ...          ...
999995   1.770907    0.992201  ...                    0.096440            0
999996  -0.978094    0.050292  ...                   -0.216540            1
999997  -1.012456   -0.789542  ...                   -0.952321            1
999998   0.052782    0.412565  ...                   -0.558832            1
999999  -0.519927   -0.340962  ...                   -0.976573            1

[948325 rows x 48 columns]

## PCA analysis

In [ ]:
counts = categoric_df.nunique()
categorical_columns =categoric_df.columns
binaries = []
multi_categorical_columns = []
for i in range(len(counts)):
  if counts[i] == 2:
    binaries.append(categorical_columns[i])
print("Binaries: ",binaries)
binary_df = categoric_df[binaries]
for i in categorical_columns:
  if i not in binaries:
    multi_categorical_columns.append(i)
print("MultiCategoricals: ", multi_categorical_columns)
multi_col_df = categoric_df[multi_categorical_columns]

Binaries:  ['term', 'application_type']
MultiCategoricals:  ['grade', 'emp_length', 'home_ownership', 'verification_status', 'purpose', 'zip_code']

In [ ]:
binary_df

              term application_type
0        60 months       Individual
2        36 months       Individual
3        36 months       Individual
4        60 months       Individual
5        36 months       Individual
...            ...              ...
999995   36 months       Individual
999996   36 months       Individual
999997   36 months       Individual
999998   36 months       Individual
999999   36 months       Individual

[948325 rows x 2 columns]

In [ ]:
multi_col_df

       grade emp_length  ...             purpose zip_code
0          E    3>=Year  ...  debt_consolidation        6
2          B   3<=6Year  ...               other        1
3          A    3>=Year  ...         credit_card        6
4          F    3>=Year  ...         credit_card        1
5          C    >=7Year  ...         credit_card        0
...      ...        ...  ...                 ...      ...
999995     D    3>=Year  ...  debt_consolidation        7
999996     C   3<=6Year  ...               other        9
999997     B   3<=6Year  ...  debt_consolidation        4
999998     A    3>=Year  ...         credit_card        2
999999     B    >=7Year  ...         credit_card        6

[948325 rows x 6 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

term_binary_encoder = LabelEncoder()
term_binary_encoder.fit(binary_df["term"])
binary_df["term"]=term_binary_encoder.transform(binary_df["term"]).tolist()


application_type_encoder =LabelEncoder()
application_type_encoder.fit(binary_df["application_type"])
binary_df["application_type"]=application_type_encoder.transform(binary_df["application_type"]).tolist()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
binary_df

        term  application_type
0          1                 0
2          0                 0
3          0                 0
4          1                 0
5          0                 0
...      ...               ...
999995     0                 0
999996     0                 0
999997     0                 0
999998     0                 0
999999     0                 0

[948325 rows x 2 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
Enc_label =LabelEncoder()

other_encoders = OneHotEncoder(handle_unknown='ignore')
other_encoders.fit(multi_col_df)

a=pd.get_dummies(multi_col_df)
a_=a.values.tolist()

multi_col_df=pd.DataFrame(other_encoders.transform(multi_col_df).todense().tolist(),columns = a.columns,index = multi_col_df.index)
multi_col_df

        grade_A  grade_B  grade_C  ...  zip_code_7  zip_code_8  zip_code_9
0           0.0      0.0      0.0  ...         0.0         0.0         0.0
2           0.0      1.0      0.0  ...         0.0         0.0         0.0
3           1.0      0.0      0.0  ...         0.0         0.0         0.0
4           0.0      0.0      0.0  ...         0.0         0.0         0.0
5           0.0      0.0      1.0  ...         0.0         0.0         0.0
...         ...      ...      ...  ...         ...         ...         ...
999995      0.0      0.0      0.0  ...         1.0         0.0         0.0
999996      0.0      0.0      1.0  ...         0.0         0.0         1.0
999997      0.0      1.0      0.0  ...         0.0         0.0         0.0
999998      1.0      0.0      0.0  ...         0.0         0.0         0.0
999999      0.0      1.0      0.0  ...         0.0         0.0         0.0

[948325 rows x 31 columns]

In [ ]:
numeric_df.head(5)

   loan_amnt  annual_inc  ...  total_il_high_credit_limit  loan_status
0   1.862541   -0.094617  ...                    0.351703            0
2  -1.298810   -0.674253  ...                   -0.848930            1
3  -0.519927    1.209564  ...                    0.304893            1
4   2.260573    0.485019  ...                   -0.512417            1
5  -1.321719    0.256048  ...                    1.438595            1

[5 rows x 48 columns]

In [ ]:
binary_df.head(5)

   term  application_type
0     1                 0
2     0                 0
3     0                 0
4     1                 0
5     0                 0

In [ ]:
multi_col_df.head(5)

   grade_A  grade_B  grade_C  ...  zip_code_7  zip_code_8  zip_code_9
0      0.0      0.0      0.0  ...         0.0         0.0         0.0
2      0.0      1.0      0.0  ...         0.0         0.0         0.0
3      1.0      0.0      0.0  ...         0.0         0.0         0.0
4      0.0      0.0      0.0  ...         0.0         0.0         0.0
5      0.0      0.0      1.0  ...         0.0         0.0         0.0

[5 rows x 31 columns]

In [ ]:
categoric_columns = binary_df.columns.tolist() + multi_col_df.columns.tolist()
df=pd.concat([numeric_df,binary_df,multi_col_df],axis=1)
categoric_columns

['term',
 'application_type',
 'grade_A',
 'grade_B',
 'grade_C',
 'grade_D',
 'grade_E',
 'grade_F',
 'grade_G',
 'emp_length_3<=6Year',
 'emp_length_3>=Year',
 'emp_length_>=7Year',
 'home_ownership_MORTGAGE',
 'home_ownership_OWN',
 'home_ownership_RENT',
 'verification_status_Not Verified',
 'verification_status_Source Verified',
 'verification_status_Verified',
 'purpose_credit_card',
 'purpose_debt_consolidation',
 'purpose_home_improvement',
 'purpose_major_purchase',
 'purpose_other',
 'zip_code_0',
 'zip_code_1',
 'zip_code_2',
 'zip_code_3',
 'zip_code_4',
 'zip_code_5',
 'zip_code_6',
 'zip_code_7',
 'zip_code_8',
 'zip_code_9']

In [ ]:
df.head()

   loan_amnt  annual_inc       dti  ...  zip_code_7  zip_code_8  zip_code_9
0   1.862541   -0.094617  0.657392  ...         0.0         0.0         0.0
2  -1.298810   -0.674253 -0.966615  ...         0.0         0.0         0.0
3  -0.519927    1.209564 -1.009352  ...         0.0         0.0         0.0
4   2.260573    0.485019 -0.328288  ...         0.0         0.0         0.0
5  -1.321719    0.256048  0.572827  ...         0.0         0.0         0.0

[5 rows x 81 columns]

In [ ]:
df.isna().sum().sum()

0

## Sentetic data sythesis using knn - smote

In [ ]:
y = df['loan_status']
X=df[[i for i in df.columns if i != "loan_status"]]
print("Class Disturbition", y.value_counts())

Class Disturbition 1    755611
0    192714
Name: loan_status, dtype: int64

In [ ]:
from imblearn.over_sampling import SMOTE

sm = SMOTE(sampling_strategy="auto")
X_res, y_res = sm.fit_resample(X, y)

In [ ]:
from imblearn.over_sampling import SMOTENC
q = []
for i in X.columns:
  if i in categoric_columns:
    q.append(True)
  else:
    q.append(False)
smote_nc = SMOTENC(sampling_strategy=0.5,categorical_features=q, random_state=0)
X_resampled, y_resampled = smote_nc.fit_resample(X, y)

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

KeyboardInterrupt: ignored

# Split into target column and features

In [ ]:

X.head()

# Shuffle and split the data

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [ ]:
####### Statis.

def ResultsOfModel(test_pred,y_test):
  true_positive_m = (test_pred == 1) & (y_test == 1)
  true_positive = len(test_pred[true_positive_m])
  print('True Positive = ' + str(true_positive))

  false_positive_m = (test_pred == 1) & (y_test == 0)
  false_positive = len(test_pred[false_positive_m])
  print('False Positive = ' + str(false_positive))

  true_negative_m = (test_pred == 0) & (y_test == 0)
  true_negative = len(test_pred[true_negative_m])
  print('True Negative = ' + str(true_negative))

  false_negative_m = (test_pred == 0) & (y_test == 1)
  false_negative = len(test_pred[false_negative_m])
  print('False Negative = ' + str(false_negative))

  precision = (true_negative)/(true_negative + false_negative)
  recall    =  (true_negative) / (true_negative + false_positive)
  f1_score  = 2* (precision * recall) / (precision + recall)
  #mcc = (true_positive * true_negative - false_positive * false_negative) / np.sqrt((true_positive + false_positive) * (true_positive + false_negative) * (true_negative + false_positive) * (true_negative + false_negative))

  print('Precision = ' + str(precision))
  print('Recall = ' + str(recall))
  print('F1 Score = ' + str(f1_score))
 # print('mcc = ' + str(mcc))

# Apply Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
clf_Logistic = LogisticRegression(random_state=0).fit(X_train, y_train)
train_pred= clf_Logistic.predict(X_train)
test_pred = clf_Logistic.predict(X_test)

In [ ]:
print("Train Error")
ResultsOfModel(train_pred,y_train)
print("___________________")
print("")
print("Validation Error")
ResultsOfModel(test_pred,y_test)

##Apply Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

clf_randomForest = RandomForestClassifier(min_samples_split=20 ,random_state=0)
clf_randomForest.fit(X_train,y_train)
train_pred= clf_randomForest.predict(X_train)
test_pred = clf_randomForest.predict(X_test)

In [ ]:
important_features_dict = {}
for x,i in enumerate(clf_randomForest.feature_importances_):
    important_features_dict[df.columns[x]]=i


important_features_list = sorted(important_features_dict,
                                 key=important_features_dict.get,
                                 reverse=True)
print(important_features_list)
values_list = [important_features_dict[i] for i in important_features_list]
print(values_list)

In [ ]:
import matplotlib.pyplot as plt

# Rearrange feature names so they match the sorted feature importances
names = X.columns

# Create plot
plt.figure(figsize=(40,15))

# Create plot title
plt.title("Feature Importance")

# Add bars
plt.bar(range(X.shape[1]), values_list)

# Add feature names as x-axis labels
plt.xticks(range(X.shape[1]), important_features_list, rotation=80)

# Show plot
plt.show()

In [ ]:

print("Train Error")
ResultsOfModel(train_pred,y_train)
print("___________________")
print("")
print("Validation Error")
ResultsOfModel(test_pred,y_test)

## Erasing Irrelevant Features

In [ ]:
df.drop()

#Hyperparameter Optimization for Random Forests

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

for i in {10,20,50}:
    clf_randomForest = RandomForestClassifier(min_samples_split=i ,random_state=0)
    clf_randomForest.fit(X_train,y_train)
    train_pred= clf_randomForest.predict(X_train)
    test_pred = clf_randomForest.predict(X_test)

    print("Train Error for", i)
    ResultsOfModel(train_pred,y_train)
    print("___________________")
    print("")
    print("Validation Error for", i)
    ResultsOfModel(test_pred,y_test)
    print("")
    print("")
    print("")

##Apply AdaBoost

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

clf_AdaBoost = AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=1),
                                  n_estimators=50,
                                  learning_rate=1.0,
                                  algorithm="SAMME.R",
                                  random_state=None)

clf_AdaBoost.fit(X_train, y_train)
test_pred = clf_AdaBoost.predict(X_test)

In [ ]:
ResultsOfModel(test_pred,y_test)

#Apply on test

In [ ]:
test_data = pd.read_csv('loansTest.csv',index_col="ID")
test_data=test_data.drop(['addr_state', 'emp_title',"zip_code"], axis=1)

for category_name,cat_table in conversion_table.items():
  for key,value in cat_table.items():
    test_data.at[test_data[category_name] == key, category_name] = value

test_data.at[test_data["emp_length"].isna(),"emp_length"]= "3<=6Year"

test_data["earliest_cr_line"]=pd.to_datetime(test_data["earliest_cr_line"])

intervals= pd.cut(test_data["earliest_cr_line"],bins,labels=["A","B","C","D","E"])
test_data["earliest_cr_line"] = intervals



test_numeric_df = test_data.select_dtypes(include=np.number)
test_categoric_df=test_data.select_dtypes(include='object')


for i in test_categoric_df:
   test_categoric_df.at[test_categoric_df[i].isna(),i] = categorical_column_fill[i]

test_numeric_df[test_numeric_df.columns] = missing_imp_numeric.transform(test_numeric_df)
test_numeric_df[test_numeric_df.columns]= sc.transform(test_numeric_df)


test_binary_df = test_categoric_df[binaries]
test_multi_col_df = test_categoric_df[multi_categorical_columns]


test_binary_df["term"]=term_binary_encoder.transform(test_binary_df["term"]).tolist()
test_binary_df["application_type"]=application_type_encoder.transform(test_binary_df["application_type"]).tolist()

test_multi_col_df=pd.DataFrame(other_encoders.transform(test_multi_col_df).todense().tolist(),columns = a.columns,index = test_multi_col_df.index)

print(test_binary_df.isna().sum())
print(test_numeric_df.isna().sum())
print(test_multi_col_df.isna().sum())
X_test=pd.concat([test_numeric_df,test_binary_df,test_multi_col_df],axis=1)
X_test

In [ ]:
test_pred = clf.predict(X_test)
pd.DataFrame(test_pred, index=test_data.index)

In [ ]:
temp_dict= {"ID":test_data.index,"loan_status":test_pred.tolist()}

pd.DataFrame(temp_dict).to_csv("cs412result.csv",index=False)